
span {
    position: relative;
    left: 105px;
    bottom: 21px;
    font-size: large;
    color: #4285f4;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-button-container {
    display: flex;
    position: relative;
    left: 94%;
    bottom: 50%;
}

.search-input-container {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border: 1px solid rgb(172, 172, 172);
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.search-input-container:hover {
    box-shadow: 2px 2px 2px 2px #969696;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.search-input {
    width: 93%;
    height: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.search-input:focus {
    border: 0px solid #000;
    border-radius: 20px;
}

.search-icon {
    width: 20px;
    margin: 13px 0 0 13px;
}

.search-button {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 40px;
    height: 30px;
}
